* {
  box-sizing: border-box;
}
  
body {
  font-family: Georgia;
}

.cat-row {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 20px; 
}

.cute-cat {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.happy-cat {
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-top: 10px;
}

.sad-cat {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.container {
display: flex; 
flex-direction: column;
justify-content: center;
}

.header {
  text-align: center;   
  border: 20px; 
}

h1 {
  border: 20px; 
}

h3 {
  text-align: center;   
}

.startQuiz {
 
}

.questionNumber .score {

}

li {
  display: inline-block;
  margin-left: 30px;
  margin-right: 80px;
  list-style-type:none;
  font-size: 20px;

}

.space {

}

.button {
  font-family: Georgia;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: lavender;
}

.startButton {
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: lavender;
}

.questionButton {
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: lavender;
}
.nextQuestionButton {
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  height: 50px;
  width: 130px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: lavender;

}
.retakeQuizButton {
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  height: 50px;
  width: 120px;
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: lavender;
}


.startBox {
 
}

.questionBox {

}

.answerChoiceBox {

}

.feedbackBox {

}

.finalBox {

}

.finalScore {

}

